.env
.env.*
.git
.gitattributes
.github
node_modules
vendor
tests
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
bootstrap/cache/*.php
npm-debug.log
docker-compose.yaml
README.md
README.pdf
